form.new-label
  .form-group
    input.text.form-control(type="text", placeholder="label-name")

  .form-group
    ul.colors
      li.color(data-color="#19aeff")
      li.color(data-color="#005c94")
      li.color(data-color="#009100")
      li.color(data-color="#9ade00")

      li.color(data-color="#ffff3e")
      li.color(data-color="#ff9900")
      li.color(data-color="#ff6600")
      li.color(data-color="#804d00")

      li.color(data-color="#b50000")
      li.color(data-color="#ff4141")
      li.color(data-color="#ba00ff")
      li.color(data-color="#364e59")

    .input-group
      span.color-preview.input-group-addon
      input.color-code.form-control(type="text", placeholder="#19aeff")
      .input-group-btn
        button.add.btn.btn-default(type="submit") Create label
