h3.side-header
  span.fa.fa-tags
  span &nbsp;
  span Labels
ul.labels-list

h3.side-header
  span.fa.fa-tag
  span &nbsp;
  span New label
  small.pull-right
    a.visibility-toggle(href="#") show
.create
