.header
  button.close(type="button", aria-hidden="true") &times;
  h4 Notifications

.list-group
  a.list-group-item(href="#")
    p.list-group-item-text
      span.fa.fa-circle
      span &nbsp;
      span 20 trades were successfully imported from BitStamp.
  a.list-group-item(href="#")
    p.list-group-item-text
      span.fa.fa-circle
      span &nbsp;
      span All trades were successfully synchronized.
  a.list-group-item(href="#")
    p.list-group-item-text
      span.fa.fa-circle-o
      span &nbsp;
      span Welcome to Bitcoin Trade Guard!

p.text-center
  a.read-all(href="#") read all
  span &nbsp;|&nbsp;
  a.show-all(href="#") show all
