.heading
  .dropdown
  h2 Trade synchronization

p.lead.
  Trade synchronizations enable you to automatically import trades from
  different services. That way, you don't have to type in all your trades
  by hand.
p.lead.empty.
  Start using this feature by creating a new synchronization for
  your favorite exchange.

.not-empty
    .synchronizations.list-group
.empty
  .well.well-lg.text-center
    span.fa.fa-frown-o
    span &nbsp;
    span Nothing to display!
.loading
  .well.well-lg.text-center
    span.fa.fa-circle-o-notch.fa-spin
    span &nbsp;
    span Loading...
