.main
  .info
    span David Knezic
    span &nbsp;
    span.label.label-default bitstamp

.subsidiary
  span Last execution
  span &nbsp;
  span 5 hours ago

.failed
  span.fa.fa-warning
  span &nbsp;
  span Failed
  span &nbsp;
  span 1 day ago
  span &nbsp;
  span with reason:
  span &nbsp;
  span Daily API limit reached!
