.container-header
  .row
    .col.col-md-3.col-sm-6.col-xs-6
      .fact
        .fact-icon
          span.fa.fa-bar-chart-o
        .fact-body
          span BTC 74'763.7614
          br
          strong Trading volume
    .col.col-md-3.col-sm-6.col-xs-6
      .fact
        .fact-icon
          span.fa.fa-bitcoin
        .fact-body
          span BTC 2'593.9821
          br
          strong Current Balance
    .col.col-md-3.col-sm-6.col-xs-6
      .fact
        .fact-icon
          span.fa.fa-caret-up
        .fact-body
          span BTC 1'188.3427
          br
          strong Profit
    .col.col-md-3.col-sm-6.col-xs-6
      .fact
        .fact-icon
          span.fa.fa-calendar
        .fact-body
          span 23/6/2013 - 25/4/2014
          br
          strong Trading period

  .row
    .col.col-lg-9.col-md-12
      .panel.panel-default
        .chart.panel-body Chart
    .col.col-lg-3.col-md-12
      .panel.panel-default
        .stats.panel-body Chart statistics

.container-content
  .row
    .col-md-6.latest-trades
    .col-md-6.bitcoin-stats
