.container-footer
  .row
    .col-xs-12.text-center
      span Made with&nbsp;
      span.fa.fa-heart
      span &nbsp;by&nbsp;
      a(href="https://twitter.com/davidknezic") @davidknezic
      span !

  .row
    .col-xs-12
      br.a-decent-separator

  .row
    .col-sm-4.text-center
      a(href="https://github.com/davidknezic/bitcoin-trade-guard")
        span.fa.fa-github-alt
        span &nbsp;Fork me!
    .col-sm-4.text-center
      a(href="https://github.com/davidknezic/bitcoin-trade-guard/issues/new")
        span.fa.fa-bug
        span &nbsp;Report bug!
    .col-sm-4.text-center
      a(href="https://github.com/davidknezic/bitcoin-trade-guard/issues/new")
        span.fa.fa-lightbulb-o
        span &nbsp;Feature request!
