.container-footer
  .row
    .col-xs-9
      p
        span Made with&nbsp;
        span.fa.fa-heart
        span &nbsp;by&nbsp;
        a(href="https://twitter.com/davidknezic") @davidknezic
        span !
    .col-xs-3
      p.text-right
        a(href="https://github.com/davidknezic/bitcoin-trade-guard")
          span.fa.fa-github-alt
          span &nbsp;Fork me!
        br
        a(href="https://github.com/davidknezic/bitcoin-trade-guard/issues/new")
          span.fa.fa-bug
          span &nbsp;Report bug!
        br
        a(href="https://github.com/davidknezic/bitcoin-trade-guard/issues/new")
          span.fa.fa-lightbulb-o
          span &nbsp;Feature request!
