nav
  a.brand(href="#")
    i.logo
    | tradeguard

header
  h1 Trouble keeping track of all your Bitcoin trades?
  p.lead
    i.tradeguard tradeguard
    | will soon help you manage and analyze all your trading activity!

  div
    a.learn-more(href="#")
      | Tell me more

    a.notify-me(href="#")
      | Register for beta

section.feature-intro
  header
    h2
      | See what
      i.tradeguard tradeguard
      | will do for you!

  ul.features
    li
      h3 Gather all your trades
      p ...
      i.a
    li
      h3 Analyze your trading performance
      p ...
      i.b
    li
      h3 Automatic synchronization
      p ...
      i.c
    li
      h3 Always free and open source
      p.
        This will be a long text here
        descirbing something.
      i.d

section.register-beta
  header
    h2 Register for beta now!
    p.lead
      | Get notified as soon as
      i.tradeguard tradeguard
      | is ready for you to use!

  form(action="#")
    input(type="email")
    button(type="submit") Register!

footer
  section.about
    a.brand(href="#")
      i.logo
      | tradeguard
    p
      i.tradeguard tradeguard
      | gathers, analyzes and tells you about the performance of your Bitcoin trades.

  ul
    li
      a(href="#") GitHub Project

  div.love
    p
      | Being built with
      i.love love
      | in Zurich
    p
      | © 2014 David Knezić. All Rights Reserved.
