.container-header
  .row
    .header.col-md-12
      h1 Settings

.container-content
  .row
    .navigation.col-md-3
      ul.nav.nav-pills.nav-stacked
        li.active
          a(href="#") Account
        li
          a(href="#") Trade Sync
        li
          a(href="#") Backup

    .content.col-md-9
