.container-header
  .row
    .header.col-md-12
      h1 Settings

.container-content
  .row
    .navigation.col-md-3
      ul.nav.nav-pills.nav-stacked
        li.active
          a.account(href="#") Account
        li
          a.sync(href="#") Trade Synchronization
        li
          a.backup(href="#") Backup

    .content.col-md-9
