.row
  .col.col-md-3.col-sm-6.col-xs-6
    .fact
      .fact-icon
        span.fa.fa-calendar
      .fact-body
        span.start
        span &nbsp;-&nbsp;
        span.end
        br
        strong Trading period

  .col.col-md-3.col-sm-6.col-xs-6
    .fact
      .fact-icon
        span.fa.fa-bar-chart-o
      .fact-body
        span.volume
        br
        strong Trading volume

  .col.col-md-3.col-sm-6.col-xs-6
    .fact
      .fact-icon
        span.fa.fa-bitcoin
      .fact-body
        span.balance
        br
        strong Current Balance

  .col.col-md-3.col-sm-6.col-xs-6
    .fact
      .fact-icon
        span.fa.fa-caret-up
      .fact-body
        span.profit
        br
        strong Profit
