h2
  span Your latest trades
  .btn-group.pull-right
    button.add-trade.btn.btn-default
      span.fa.fa-plus-square-o.visible-xs-inline
      span.hidden-sm.hidden-md.hidden-lg &nbsp;
      span.hidden-xs Add trade
    button.show-all-trades.btn.btn-default
      span.fa.fa-ellipsis-h.visible-xs-inline
      span.hidden-sm.hidden-md.hidden-lg &nbsp;
      span.hidden-xs Show all trades

ul.latest-trades.list-group
