.row
  .col-md-12
    .pull-left
      span.buy.fa.fa-sign-in
      span.sell.fa.fa-sign-out
      time.execution-on
    .pull-right
      strong.amount

.row
  .col-md-12
    .labels.pull-left
    .pull-right
      span.text
