form.new-trade.form-horizontal(action = "#")
  .row
    .col-sm-6
      .form-group
        label.col-xs-4.control-label Execution date
        .col-xs-8
          input.execution-date.form-control(type="date", required)
    .col-sm-6
      .form-group
        label.col-xs-4.control-label Execution time
        .col-xs-8
          input.execution-time.form-control(type="time", required)

  .row
    .col-sm-6
      .form-group
        label.col-xs-4.control-label Currency
        .col-xs-8
          select.currency.form-control(required)
    .col-sm-6
      .form-group
        label.col-xs-4.control-label Bitcoin price
        .col-xs-8
          .input-group
            span.btc-price-currency.input-group-addon
              span.unset.fa.fa-ellipsis-h
              span.set
            input.btc-price.form-control(type="number", required)

  .row
    .col-sm-12
      br.a-decent-separator

  .row
    .col-sm-12
      .form-group
        label.col-sm-2.col-xs-4.control-label Type
        .col-sm-10.col-xs-8
          .radio-buttons.btn-group.btn-group-justified(data-toggle="buttons")
            label.btn.btn-default
              input.is-btc-buy(type="radio", name="type")
              span Buy Bitcoin
            label.btn.btn-default
              input.is-btc-sell(type="radio", name="type")
              span Sell Bitcoin

  .row
    .col-sm-6
      .form-group
        label.col-xs-4.control-label Amount
        .col-xs-8
          .input-group
            .input-group-btn(data-toggle="buttons")
              label.btn.btn-default
                input.is-amount-in-btc(type="radio", name="amount-currency")
                span BTC
              label.btn.btn-default
                input.is-amount-in-other(type="radio", name="amount-currency")
                span.unset.fa.fa-ellipsis-h
                span.set
            input.amount.form-control(type="number", required)
    .col-sm-6
      .form-group
        label.col-xs-4.control-label Fee
        .col-xs-8
          .input-group
            .input-group-btn(data-toggle="buttons")
              label.btn.btn-default
                input.is-fee-in-btc(type="radio", name="fee-currency")
                span BTC
              label.btn.btn-default
                input.is-fee-in-other(type="radio", name="fee-currency")
                span.unset.fa.fa-ellipsis-h
                span.set
            input.fee.form-control(type="number", step="0.01", required)

  .row
    .col-sm-12
      br.a-decent-separator

  .row
    .col-sm-12
      .form-group
        .col-sm-offset-2.col-sm-10.col-xs-offset-4.col-xs-8
          button.save.btn.btn-primary(type="submit") Save
          span &nbsp;
          button.cancel.btn.btn-default(type="button") Cancel
