.container-header
  .row
    .header.col-md-12
      h1
        span.sold.fa.fa-sign-out
        span.bought.fa.fa-sign-in
        span &nbsp;
        span.verb
        span &nbsp;
        strong.amount-btc
        span &nbsp;
        small.amount-fiat

.container-content
  .row
    .main.col-sm-4

      .trade-meta-box
        .trade-meta-line.head
          p
            span.date
          p
            span.time
        .trade-meta-line
          p
            strong.btc-price.very
          p
            small BTC price

      .btn-group.btn-group-justified
        a.edit.btn.btn-default(href="#") Edit
        a.ignore.btn.btn-default(href="#") Ignore
        a.delete.btn.btn-danger(href="#") Delete

    .col-sm-5

      .heading
        h2 Trade details

      table.table
        tbody
          tr
            th Amount
            td.amount-fiat
            td.amount-btc
          tr
            th Fee
            td.fee-fiat
            td.fee-btc
        tfoot
          tr.total
            th Total
            th.total-fiat
            th.total-btc

    .side.col-sm-3
      .labels
