.container-header
  .row
    .header.col-md-12
      h1
        span.sold.fa.fa-sign-out
        span.bought.fa.fa-sign-in
        span &nbsp;
        span.verb Sold
        span &nbsp;
        strong.amount BTC 25.50
        span &nbsp;
        small CHF 4'500.-

.container-content
  .row
    .main.col-sm-9

      .row
        .col-sm-4.text-center
          .fact
            .fact-body
              span.label.label-warning BTC
              br
              span.fa.fa-angle-down
              br
              span.label.label-warning CHF
        .col-sm-4.text-center
          .fact
            .fact-body
              span BTC price
              br
              strong CHF 1'800.-
        .col-sm-4.text-center
          .fact
            .fact-body
              span 8/12/2013
              br
              span 8:55am

      table.table
        tbody
          tr
            th Amount
            td CHF 4'500.-
            td BTC 2.5
          tr
            th Fee
            td CHF 3.-
            td BTC 0.001
        tfoot
          tr.warning
            th Total
            th CHF 4'503.-
            th BTC 2.501

    .side.col-sm-3
      .btn-group.btn-group-justified
        a.btn.btn-default(href="#") Edit
        a.btn.btn-default(href="#") Ignore
        a.btn.btn-danger(href="#") Delete

      .labels
