@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "variables.less";
@import "symbols.less";
@import "responsive.less";
@import "facts.less";
@import "navigation.less";
@import "trades.less";
@import "headings.less";
@import "labels.less";
@import "notifications.less";

.container-header {
  .container-fluid;

  padding-top: 20px;
  padding-bottom: 20px;

  background-color: @header-bg;
  border-bottom: 1px solid @header-border-color;
}

.container-content {
  .container-fluid;

  padding-top: 20px;
  padding-bottom: 50px;

  background-color: white;
}

.container-footer {
  .container-fluid;

  border-top: 1px solid @footer-border-color;
  padding-top: 20px;
  padding-bottom: 20px;
}

.side-header {
  color: @gray-light;
  font-size: ceil((@font-size-base * 1.25));
  font-weight: normal;
  border-bottom: 1px solid @gray-lighter;
  margin-top: @padding-small-vertical;
  padding-bottom: @padding-large-vertical;

  &:not(:first-child) {
    margin-top: 30px;
  }
}
