@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "variables.less";
@import "facts.less";

.navbar {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: orange;
  border-radius: 0;
}

.container-header {
  .container-fluid;

  padding-top: 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.container-content {
  .container-fluid;

  padding-top: 20px;
  padding-bottom: 50px;
}

.container-footer {
  .container-fluid;

  border-top: 1px solid #ddd;
  padding-top: 20px;
}
