@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "variables.less";
@import "responsive.less";
@import "facts.less";
@import "navigation.less";

.container-header {
  .container-fluid;

  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.container-content {
  .container-fluid;

  padding-top: 20px;
  padding-bottom: 50px;

  background-color: white;
}

.container-footer {
  .container-fluid;

  border-top: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
}
