@import "normalize";
@import "foundation/settings";
@import "bourbon";

$include-html-classes: false;
$include-html-type-classes: true;
$include-print-styles: false;

@import "foundation/components/global";
@import "foundation/components/type";
@import "foundation/components/grid";
@import "foundation/components/block-grid";
@import "foundation/components/buttons";
@import "foundation/components/inline-lists";

@import "font-awesome";

@import "container";
@import "icons";
@import "intro/header";
@import "intro/main";
@import "intro/footer";
