.fact {
  .panel;
  .panel-default;
}

.fact > .fact-icon {
  background-color: #36a9e1;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 2.5em;
  color: white;

  @media (min-width: @screen-sm-min) {
    float: left;
    width: 100px;
    margin-bottom: -15px;
    height: 70px;
    line-height: 70px;
  }
}

.fact > .fact-body {
  .panel-body;
  .text-center;
}
