// Bootstrap overwrites
@font-size-h2: floor((@font-size-base * 1.7));

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

@navbar-height: 70px;
@navbar-margin-bottom: 0;
@navbar-default-bg: #fff;
@navbar-default-link-active-bg: #F29D00;

// Custom sizes
@screen-xl-min: 1380px;
@screen-xl-max: (@screen-xl-min - 1);

// App specific variables
@background-header: #f5f5f5;
