.panel.panel-info
  .panel-heading How about importing trades?
  .panel-body
    p You can import your trades automatically from this services:
  div.list-group
    a.list-group-item(href="#") Bitstamp
    a.list-group-item(href="#") Coinbase
    a.list-group-item(href="#") LocalBitcoins
