.container
  section.about
    a.brand(href="#")
      span tradeguard
    p
      | <i class="tradeguard">tradeguard</i>
      | gathers, analyzes and tells you about
      | the performance of your Bitcoin trades.

  ul.links
    li
      a.github(href="https://github.com/davidknezic/bitcoin-trade-guard")
        span GitHub
    //
      li
        a.twitter(href="#")
          span Twitter

  div.love
    p
      | © 2014 David Knezić.
      | All Rights Reserved.
