nav.navbar-intro
  .container
    .navbar-header
      span.navbar-brand
        span tradeguard

section.hero-intro
  .container
    h1
      | How to keep track of all your
      | Bitcoin trades?

    div
      a.learn-more(href="#")
        | Tell me!
