nav.navbar-intro
  .container
    .navbar-header
      a.navbar-brand(href="#")
        span tradeguard

section.hero-intro
  .container
    h1
      | How to keep track of all your
      | Bitcoin trades?

    div
      a.learn-more(href="#")
        | Tell me!
