section.intro-product
  .container
    header
      h2
        | <i class="tradeguard">tradeguard</i>
        | is a clever web app that does 4
        | things for you…

    ul.feature-list
      li.gather
        h3 Gather each of your trades
        p
          | Putting all your trades into one list
          | is the first step when trying to get
          | insights about your trading.
          | <i class="tradeguard">tradeguard</i>
          | makes this job a pleasure.

      li.analyze
        h3 Analyze your trading performance
        p
          | Whether you lose or profit,
          | <i class="tradeguard">tradeguard</i>
          | will always
          | be honest with you. It shows you how
          | you performed at any time and where
          | you did best.

      li.sync
        h3 Sync your trades automatically
        p
          | When connected to your favorite
          | Bitcoin exchange,
          | <i class="tradeguard">tradeguard</i>
          | synchronizes all your fresh trades
          | automatically.

      li.free
        h3 Always available, <br>always free
        p
          | <i class="tradeguard">tradeguard</i>
          | is developed openly and will always
          | be free for you. That's a promise!
